# This is Git's per-user configuration file.
[user]
	name = Simon Stipcich
	email = stipcich.simon@gmail.com 
# [credential]
	#helper = wincred
#[http]
#	sslCAInfo = C:\\ProgramData\\Netskope\\STAgent\\download\\nscacert.pem
#	schannelCheckRevoke = false
